

/* WORK PAGE */
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .product .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
  }
  
  .product .item img {
    width: 100%;
    height: 100%;
  }
  
  .product .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }
  
  .product .item:hover .action {
    opacity: 1;
  }
  
  .product .item .action a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
  }
  
